<!doctype html>
<html lang="pt-br" 
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout">

  <head>
    <title>Matrículas</title>
  </head>
  
  <body>
   
   <h1>Cadastro de alunos(a):</h1>
   <form method="post">
   Nome: <input type="text" value="" name="nome"/>
   Cidade: <input type="text" value="" name="cidade"/>
   Gênero: <input type="text" value="" name="genero"/>
   Horário: <input type="text" value="" name="horario"/>
   
   <button type="submit">Salvar</button>
   
   </form>
   
  </body>
</html>